.modalOverlay {
  position: fixed;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;  /* justify-content ve align-items için */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  width: 90vw;
  max-width: 900px;
  max-height: 90vh;
  background: transparent;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.modalClose:hover {
  color: #ff9800;
}

.modalBody {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.modalImage {
  max-width: 100%;
  max-height: 100vh; /* Görselin modal yüksekliğinin %70'ini geçmemesi */
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  border-radius: 4px 4px 0 0;
}

.modalInfo {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Dikey sıralama */
  align-items: stretch;   /* Çocuklar genişliği kapsar */
  gap: 80px;
  color: white;
  font-size: 16px;
  border-radius: 0 0 8px 8px;
}

.modalInfo p {
  margin-left:50px ;
  width: 100%;          
  text-align: left;      
}


.modalInfo p:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}
