.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skeletonCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonImage {
  width: 100%;
  padding-top: 75%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
  background-size: 800% 100%;
  animation: shine 5s ease infinite; 
  border-radius: 8px;
}

.skeletonText {
  height: 16px;
  width: 60%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
  background-size: 800% 100%;
  animation: shine 10s linear infinite;
  border-radius: 4px;
}


@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

