header {
  background-color: #0e36a5dc;
  padding: 15px;
  width: 98%;
  height: 20vh;
  border-radius: 10px;
  margin: 0px;
}


form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 100px;
  border: 0px solid #ccc;
  margin-top: 5vh;
  box-shadow: 0 1px 1px #ff9800;
}

input {
  flex: 1;
  padding: 12px 19px;
  font-size: 20px;
  text-align: center;
  border: none;
  
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.searchBarBtn {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}